In [3]:
import pandas as pd
import math as m
ph_data=pd.read_csv('Walmart_Store_sales.csv')
ph_data.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,05-03-2010,1554806.68,0,46.50,2.625,211.350143,8.106

In [8]:
ph_data.shape

(6435, 8)

In [216]:
ph_data.Store.value_counts().shape
##ph_data.loc[ph_data['Weekly_Sales'] ==  ph_data['Weekly_Sales'].max()]

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
1905,14,24-12-2010,3818686.45,0,30.59,3.141,182.54459,8.724

In [215]:
ph_maxsale=ph_data[['Store','Weekly_Sales']]
ph_maxsale.Weekly_Sales.max()

3818686.45

In [59]:
store=ph_maxsale.groupby(ph_maxsale.Store)
maxstore=ph_maxsale.groupby(ph_maxsale.Store).sum()
maxstore.sort_values(by='Weekly_Sales',ascending=False,inplace=True)
maxstore

       Weekly_Sales
Store
20     3.013978e+08
4      2.995440e+08
14     2.889999e+08
13     2.865177e+08
2      2.753824e+08
10     2.716177e+08
27     2.538559e+08
6      2.237561e+08
1      2.224028e+08
39     2.074455e+08
19     2.066349e+08
31     1.996139e+08
23     1.987506e+08
24     1.940160e+08
11     1.939628e+08
28     1.892637e+08
41     1.813419e+08
32     1.668192e+08
18     1.551147e+08
22     1.470756e+08
12     1.442872e+08
26     1.434164e+08
34     1.382498e+08
40     1.378703e+08
35     1.315207e+08
8      1.299512e+08
17     1.277821e+08
45     1.123953e+08
21     1.081179e+08
25     1.010612e+08
43     9.056544e+07
15     8.913368e+07
7      8.159828e+07
42     7.956575e+07
9      7.778922e+07
29     7.714155e+07
16     7.425243e+07
37     7.420274e+07
30     6.271689e+07
3      5.758674e+07
38     5.515963e+07
36     5.341221e+07
5      4.547569e+07
44     4.329309e+07
33     3.716022e+07

In [211]:
std=store.std()

std.sort_values(by='Weekly_Sales',ascending=False,inplace=True)
std

        Weekly_Sales
Store
14     317569.949476
10     302262.062504
20     275900.562742
4      266201.442297
13     265506.995776
23     249788.038068
27     239930.135688
2      237683.694682
39     217466.454833
6      212525.855862
35     211243.457791
19     191722.638730
41     187907.162766
28     181758.967539
18     176641.510839
24     167745.677567
11     165833.887863
22     161251.350631
1      155980.767761
12     139166.871880
32     138017.252087
45     130168.526635
21     128752.812853
31     125855.942933
15     120538.652043
40     119002.112858
25     112976.788600
7      112585.469220
17     112162.936087
26     110431.288141
8      106280.829881
34     104630.164676
29      99120.136596
16      85769.680133
9       69028.666585
36      60725.173579
42      50262.925530
3       46319.631557
38      42768.169450
43      40598.413260
5       37737.965745
44      24762.832015
33      24132.927322
30      22809.665590
37      21837.461190

In [208]:
co=store.std()/store.mean()
co.sort_values(by='Weekly_Sales',ascending=False,inplace=True)
co

       Weekly_Sales
Store
35         0.229681
7          0.197305
15         0.193384
29         0.183742
23         0.179721
21         0.170292
45         0.165613
16         0.165181
18         0.162845
36         0.162579
25         0.159860
10         0.159133
14         0.157137
22         0.156783
39         0.149908
41         0.148177
12         0.137925
28         0.137330
6          0.135823
27         0.135155
19         0.132680
13         0.132514
20         0.130903
4          0.127083
9          0.126895
17         0.125521
24         0.123637
40         0.123430
2          0.123424
11         0.122262
5          0.118668
32         0.118310
8          0.116953
3          0.115021
38         0.110875
26         0.110111
34         0.108225
1          0.100292
33         0.092868
42         0.090335
31         0.090161
44         0.081793
43         0.064104
30         0.052008
37         0.042084

In [75]:
type(ph_data.Date)

pandas.core.series.Series

In [4]:
q3=ph_data[['Store','Weekly_Sales','Date']]
q3['Date'] = pd.to_datetime(q3['Date'])
start_date = "2012-07-01"
end_date = "2012-09-30"
after_start_date = q3["Date"] >= start_date
before_end_date = q3["Date"] <= end_date
between_two_dates = after_start_date & before_end_date
a=q3.loc[between_two_dates]
a.sort_values(by='Date',ascending=True,inplace=True)
b=a.groupby(a.Store).sum()
##b.sort_values(by='Weekly_Sales',ascending=False,inplace=True)
b

<ipython-input-4-2d3eb460d596>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  q3['Date'] = pd.to_datetime(q3['Date'])
<ipython-input-4-2d3eb460d596>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  a.sort_values(by='Date',ascending=True,inplace=True)

       Weekly_Sales
Store
1       18633209.98
2       22396867.61
3        4966495.93
4       25652119.35
5        3880621.88
6       18341221.11
7        7322393.92
8       10873860.34
9        6528239.56
10      21169356.45
11      16094363.07
12      11777508.50
13      24319994.35
14      20140430.40
15       6909374.37
16       6441311.11
17      11533998.38
18      12507521.72
19      16644341.31
20      24665938.11
21       8403507.99
22      11818544.33
23      17103654.36
24      16125999.86
25       8309440.44
26      12417575.35
27      20191238.11
28      15055659.67
29       6127862.07
30       5181974.44
31      16454328.46
32      14142164.84
33       3177072.43
34      11476258.98
35      10252122.68
36       3578123.58
37       6250524.08
38       5129297.64
39      18899955.17
40      11647661.37
41      16373588.44
42       6830839.86
43       7376726.03
44       4020486.01
45       8851242.32

In [5]:
q=ph_data[['Store','Weekly_Sales','Date']]
q['Date'] = pd.to_datetime(q['Date'])
start_date_1 = "2012-04-01"
end_date_1 = "2012-06-30"
after_start_date_1 = q["Date"] >= start_date_1
before_end_date_1 = q["Date"] <= end_date_1
between_two_dates_1 = after_start_date_1 & before_end_date_1
a_1=q.loc[between_two_dates_1]
a_1.sort_values(by='Date',ascending=True,inplace=True)
b_1=a_1.groupby(a_1.Store).sum()

b_1

<ipython-input-5-53f3be14d0e6>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  q['Date'] = pd.to_datetime(q['Date'])
<ipython-input-5-53f3be14d0e6>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  a_1.sort_values(by='Date',ascending=True,inplace=True)

       Weekly_Sales
Store
1       21036965.58
2       25085123.61
3        5562668.16
4       28384185.16
5        4427262.21
6       20728970.16
7        7613593.92
8       11934275.61
9        7431320.13
10      23598433.93
11      17879095.77
12      13193365.04
13      26803225.55
14      24427769.06
15       7867952.23
16       6626133.44
17      12918892.02
18      13834706.08
19      18315278.56
20      27550180.62
21       9226279.62
22      13329065.39
23      18283424.90
24      17768191.98
25       9247467.19
26      13218289.66
27      22593640.73
28      16985999.95
29       7034493.19
30       5786335.45
31      18249155.35
32      15415236.21
33       3512138.05
34      12858027.98
35      10753570.97
36       4090378.90
37       6859777.96
38       5732362.70
39      20191585.63
40      12849747.45
41      17560035.88
42       7608247.31
43       8239792.67
44       4322555.33
45      10278900.05

In [7]:
b['G']= (b.Weekly_Sales-b_1.Weekly_Sales)/b_1.Weekly_Sales
b.sort_values(by='G',ascending=True,inplace=True)
b

       Weekly_Sales         G
Store
14      20140430.40 -0.175511
45       8851242.32 -0.138892
29       6127862.07 -0.128884
36       3578123.58 -0.125234
5        3880621.88 -0.123471
15       6909374.37 -0.121833
9        6528239.56 -0.121524
6       18341221.11 -0.115189
1       18633209.98 -0.114263
28      15055659.67 -0.113643
22      11818544.33 -0.113325
34      11476258.98 -0.107464
12      11777508.50 -0.107316
17      11533998.38 -0.107199
3        4966495.93 -0.107174
2       22396867.61 -0.107165
27      20191238.11 -0.106331
38       5129297.64 -0.105204
43       7376726.03 -0.104744
20      24665938.11 -0.104691
30       5181974.44 -0.104446
10      21169356.45 -0.102934
42       6830839.86 -0.102180
25       8309440.44 -0.101436
11      16094363.07 -0.099822
31      16454328.46 -0.098351
4       25652119.35 -0.096253
18      12507521.72 -0.095932
33       3177072.43 -0.095402
40      11647661.37 -0.093549
13      24319994.35 -0.092647
24      16125999.86 -0.092423
19      16644341.31 -0.091232
21       8403507.99 -0.089177
8       10873860.34 -0.088855
37       6250524.08 -0.088815
32      14142164.84 -0.082585
44       4020486.01 -0.069882
41      16373588.44 -0.067565
23      17103654.36 -0.064527
39      18899955.17 -0.063969
26      12417575.35 -0.060576
35      10252122.68 -0.046631
7        7322393.92 -0.038247
16       6441311.11 -0.027893